
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transactions Summary</title>

</head>
<body>
  <div class="container mt-5" *ngIf="transactions">
    <h1>Transaction Summary</h1>
    <div class="row mt-4">
      <div class="col-md-6 income" >
        <h3>Income </h3>
        <p>{{ sumIncome(transactions) | currency}}</p>
      </div>
      <div class="col-md-6 payments" >
        <h3>Payments </h3>
        <p>{{ sumPayment(transactions) | currency}}</p>
      </div>
      <div class="col-md-6 my-balance">
        <h3>My Balance</h3>
        <p>{{ myBalance(transactions) | currency}}</p>
      </div>
    </div>
  </div>
</body>


