<div class="row vh-100 d-flex align-items-center">        
    <div class="offset-md-4 col-md-4 rounded border border-dark">
        <h1>Change Password</h1>
        <form autocomplete="off">
            <fieldset class="form-group m-2">
                <label for="cpassword">current password </label>
                <input type="text" class="form-control" name="cpassword" id="cpassword" required autofocus>
            </fieldset>

            <fieldset class="form-group m-2">
                <label for="newpassword">New Password: </label>
                <input type="password" class="form-control" name="newpassword" id="password">
            </fieldset>

            <fieldset class="form-group m-2">
                <label for="newpassword2">New Password: </label>
                <input type="password" class="form-control" name="newpassword2" id="password">
            </fieldset>

            <fieldset class="form-group text-right m-2">
                <button routerLink="/myAccount/settings" type="submit" class="btn btn-primary m-1">Change Password</button>
                <button routerLink="/myAccount/settings" class="btn btn-warning m-1">Cancel
                </button>
            </fieldset>     

        </form>
    </div>
</div>
    

