<div class="row vh-100 d-flex align-items-center">
    <div class="offset-md-4 col-md-4 rounded border border-dark">
      <h1>Change Password</h1>
      <form [formGroup]="form" (ngSubmit)="cPassword()">
        <fieldset class="form-group m-2">
          <label for="cpassword">Current Password</label>
          <input type="password" class="form-control" formControlName="currentPassword" id="cpassword" required autofocus>
        </fieldset>
  
        <fieldset class="form-group m-2">
          <label for="newpassword">New Password</label>
          <input type="password" class="form-control" formControlName="newPassword" id="newpassword">
        </fieldset>
  
        <fieldset class="form-group m-2">
          <label for="newpassword2">Confirm New Password</label>
          <input type="password" class="form-control" formControlName="newPassword2" id="newpassword2">
        </fieldset>
  
        <fieldset class="form-group text-right m-2">
          <button type="submit" class="btn btn-primary m-1">Change Password</button>
          <button type="button" class="btn btn-warning m-1" routerLink="/myAccount/settings">Cancel</button>
        </fieldset>
      </form>
    </div>
  </div>
  