<mat-card class="cardWithShadow theme-card">

  <app-transactions-summary></app-transactions-summary>

<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">All Transactions</mat-card-title>
  </mat-card-header>

  <mat-card-content class="b-t-1">
    <ul class="transaction-list">
      <li class="transaction-item transaction-header">
        <a>
          <div class="dateCreated">
            Date
          </div>

          <div class="description">
            Description
          </div>

          <div class="category">
            Category
          </div>

          <div class="Subcategory">
            Subcategory
          </div>

          <!-- <div class="status">
            Status
          </div> -->

          <div class="quantity">
            Quantity
          </div>

          <div class="amount">
            Amount
          </div>

          <div class="subtotal">
            Subtotal
          </div>
        </a>
      </li>

      <li *ngFor="let transaction of transactions" class="transaction-item" [ngClass]="{ 'payment': transaction.status === 'Payment', 'received': transaction.status === 'Received' }">
          <div class="dateCreated">
            {{transaction.dateCreated | date: 'mediumDate'}}
          </div>

          <div class="description">
            {{transaction.description}}
          </div>

          <div class="category">
            {{transaction.category}}
          </div>

          <div class="Subcategory">
            {{transaction.subcategory}}
          </div>

          <!-- <div class="status">
            {{transaction.status}}
          </div> -->

          <div class="quantity">
            {{transaction.quantity}}
          </div>

          <div [ngClass]="{ 'amount': true, 'negative': transaction.amount < 0 }">
            {{transaction.amount | currency}}
          </div>

          <div class="Subtotal">
            {{ calculateSubtotal(transaction) | currency}}
          </div>

          <div>
            <button class="btn btn-secondary btnDelete" (click)="onDeleteTransaction(transaction._id)">Delete</button>
          </div>
      </li>
    </ul>



