<mat-card class="cardWithShadow theme-card">
  <app-transactions-summary></app-transactions-summary>
</mat-card>

<mat-card class="cardWithShadow theme-card">
  <mat-card-content class="b-t-1">
    <table class="transaction-table">
      <thead>
        <tr class="transaction-header">
          <th class="date-column">Date</th>
          <th class="desc-column">Description</th>
          <th class="subt-column">Subtotal</th>
          <th class="btn-column"></th> <!-- Empty header for buttons -->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let transaction of transactions">
          <tr class="transaction-item" [ngClass]="{ 'payment': transaction.status === 'Payment', 'received': transaction.status === 'Received' }">
            <td class="date-column">
              <ng-container *ngIf="!transaction.editable; else editableDateField">
                {{ transaction.date | date: 'yyyy/MM/dd':"+0000" }}
              </ng-container>
              <ng-template #editableDateField>
                <input type="date" [(ngModel)]="transaction.date">
              </ng-template>
            </td>


            <td class="desc-column">
              <ng-container *ngIf="!transaction.editable; else editableDescriptionField">
                {{ transaction.description }}
              </ng-container>
              <ng-template #editableDescriptionField>
                <input type="text" [(ngModel)]="transaction.description">
              </ng-template>
            </td>

            <td class="subt-column">{{ calculateSubtotal(transaction) | currency }}</td>
            <td class="btn-column" rowspan="2">

              <button (click)="toggleDetails($event, transaction._id)" >
                <i class="fa-solid fa-caret-down"></i>
              </button>

            </td>
          </tr>
          <tr>
            <td colspan="3"> <!-- colspan to span three columns -->
              <div [id]="'details-' + transaction._id" class="collapse">
                <!-- Details -->

                <div class="details">
                  <table class="transaction-table-details">
                    <tr>
                      <td>Category: </td>
                      <td>
                        <ng-container *ngIf="!transaction.editable; else editableCategoryField">
                          {{ transaction.category }}
                        </ng-container>
                        <ng-template #editableCategoryField>
                          <input type="text" [(ngModel)]="transaction.category">
                        </ng-template>
                      </td>
                    </tr>

                    <td>Subcategory: </td>
                      <td>
                        <ng-container *ngIf="!transaction.editable; else editableSubCategoryField">
                          {{ transaction.subcategory }}
                        </ng-container>
                        <ng-template #editableSubCategoryField>
                          <input type="text" [(ngModel)]="transaction.subcategory">
                        </ng-template>
                      </td>
                    <tr>

                      <td>Amount: </td>
                      <td>
                        <ng-container *ngIf="!transaction.editable; else editableAmountField">
                          {{ transaction.amount }}
                        </ng-container>
                        <ng-template #editableAmountField>
                          <input type="text" [(ngModel)]="transaction.amount">
                        </ng-template>
                      </td>
                    <tr>
                      <td>Quantity: </td>
                      <td>
                        <ng-container *ngIf="!transaction.editable; else editableQuantityField">
                          {{ transaction.quantity }}
                        </ng-container>
                        <ng-template #editableQuantityField>
                          <input type="text" [(ngModel)]="transaction.quantity">
                        </ng-template>
                      </td>
                    <tr>
                    </tr>
                  </table>


                  <!-- <p>Subcategory: {{ transaction.subcategory }}</p>
                  <p>Amount: {{ transaction.amount | currency }}</p>
                  <p>Quantity: {{ transaction.quantity }}</p> -->
                  <button *ngIf="transaction.editable" class="btn btn-primary" (click)="saveChanges(transaction._id, transaction)">Save</button>
                  <button *ngIf="transaction.editable" class="btn btn-secondary" (click)="cancelChanges(transaction)">Cancel</button>
                  <button *ngIf="!transaction.editable" class="btn btn-info" (click)="enableEdit(transaction)">Edit</button>
                  <button class="btn btn-danger" (click)="onDeleteTransaction(transaction._id)">
                    <!-- <i class="material-icons">&#xe872;</i> -->
                    Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
