/* Style for the table */
.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Evenly space items along the container's main axis */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  text-align: left;
}

/* Style for the table header row */
.transaction-header th{
  font-weight: bold;
  padding: 8px;
}

/* Style for each transaction item */
.transaction-item {
  display: flex;
  justify-content: space-between; /* Evenly space items along the container's main axis */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  transition: background-color 0.3s; /* Add a smooth background color transition effect */
}


/* Style for the transaction item elements */
.transaction-item a {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  color: #333;
  padding: 10px;
}

/* Style for transaction item cells */
.transaction-item td {
  padding: 8px;
}

/* Style for the button column */
.transaction-item td:last-child {
  width: 100px; /* Adjust the width as needed */
  text-align: center;
}

/* Style for the collapse div */
.collapse {
  display: none;
}

/* Style for the details section */
.details {
  margin-top: 10px;
}


/* Style for buttons */
.btn {
  margin-right: 5px;
  /* Add any other button styles as needed */
}

/* Style for the transaction list container */
.transaction-list {
  list-style: none;
  padding: 0;
}


/* Style for negative amounts (e.g., expenses) */
.amount.negative {
  color: #ff0000; /* Red color for negative amounts */
}

/* Style for "Payment" transactions */
.payment {
  background-color: #f7c7c7; /* Light red background for Payment */
}

/* Style for "Received" transactions */
.received {
  background-color: #caedca; /* Light green background for Received */
}

/* Hover effect for transaction items */
.transaction-item:hover {
  background-color: #e0e0e0; /* Light gray background on hover */
}

.date-column {
  width: 15%; /* Adjust the width based on your preference */
}

.desc-column {
  width: 35%; /* Adjust the width based on your preference */
}

.amt-column {
  width: 20%; /* Adjust the width based on your preference */
}

.subt-column {
  width: 20%; /* Adjust the width based on your preference */
}

.btn-column {
  width: 10%; /* Adjust the width based on your preference */
}

