<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="onAddTransaction(form)">
        <div class="form-group">
          <label for="statusSelect" class="visually-hidden">Category</label>
          <select
            [(ngModel)]="newTransaction.category"
            id="transactionCat"
            name="category"
            class="form-control"
            aria-label="Transaction Category"
            (ngModelChange)="onChangeCategory($event)"
          >
            <option value="" selected>Select Category</option>
            <option *ngFor="let category of categories">
              {{ category.name }}
            </option>
            <!-- <option value="Food">Food</option>
            <option value="Gifts & donations">Gifts & donations</option>
            <option value="Groceries">Groceries</option>
            <option value="Health">Health</option>
            <option value="Leisure">Leisure</option>
            <option value="Pets">Pets</option>
            <option value="Rent">Rent</option>
            <option value="Salary">Salary</option>
            <option value="Subscription & services">Subscription & services</option>
            <option value="Transportation">Transportation</option>
            <option value="Travel">Travel</option> -->
          </select>
        </div>
        <div class="form-group">
          <label for="statusSelect" class="visually-hidden">Subcategory</label>
          <select
            [(ngModel)]="newTransaction.subcategory"
            id="transactionSubcat"
            name="subcategory"
            class="form-control"
            aria-label="Transaction Subcategory"
            placeholder="Enter the subcategory"
          >
          <option value="" selected>Select Category</option>
          <option *ngFor="let category of subCategories">
            {{ category.name }}
          </option>
          </select>
        </div>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="newTransaction.quantity"
            id="transactionQty"
            name="quantity"
            class="form-control"
            placeholder="Enter the quantity."
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="newTransaction.amount"
            id="transactionAmount"
            name="amount"
            class="form-control"
            placeholder="Enter the total."
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="newTransaction.description"
            id="transactionDesc"
            name="description"
            class="form-control"
            placeholder="Enter the description"
          />
        </div>
        <div class="form-group">
          <label for="statusSelect" class="visually-hidden">Status</label>
          <select
            [(ngModel)]="newTransaction.status"
            id="statusSelect"
            class="form-control"
            name="status"
            aria-label="Transaction Status"
            placeholder="Select status"
          >
            <option value="" disabled selected>Select status</option>
            <option value="Payment">Payment</option>
            <option value="Received">Received</option>
          </select>
        </div>
        <div class="form-group">
          <mat-form-field class="col-md-12">
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="newTransaction.date"
              name="dateCreated"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary btnSave" type="submit">
              Save Transaction
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
