<div class="vh-100 d-flex flex-column"> 
    <div>
        <h3>Welcome Display Name</h3>  
    </div>     
    <div class="m-5">        
        <table class="table w-25">
            <tr>
                <td class="p-1">Email Address</td>
            </tr>            
            <tr>
                <td class="bg-secondary-subtle p-1">Email</td>
            </tr>
            <tr>
                <td>Created Date</td>
            </tr>
            <tr>
                <td class="p-1">

                </td>
            </tr>
            <tr>
                <td class="bg-secondary-subtle p-1">Created Date</td>
            </tr>
        </table>
    </div>
    <div>
        <fieldset class="form-group text-center m-2">
            <button routerLink="/myAccount/cPassword" class="btn btn-success m-1">Change Password
            </button>
            <button type="submit" class="btn btn-danger m-1">Delete Account</button>            
        </fieldset>
    </div>
    
</div>
    
